body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #ff7eb3, #ff758c, #6e0dd0, #07d4fa);
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
